@import '~bootstrap/scss/bootstrap';

// Sass variables
$height-header: 60px;
$width-aside:200px;
$width-small-aside :60px;
$color-aside:pink;
$color-link-aside:white;
$active-route-color:yellow;
$color-main:rgba($color-aside,0.3);


header {
    height: $height-header;
    nav {
        height: 100%;
    }
}

aside {
    background-color:$color-aside ;
    width : $width-aside;
    height: calc(100vh - $height-header);
    ul {
        list-style: none;
        .active {
            color: $active-route-color;
        }
        a {
            text-decoration: none;
            font-weight: bolder;
            color: $color-link-aside;
        }
    }
    @media screen and (max-width: 767px) {
        width: $width-small-aside;
    }
}

main {
    height: calc(100vh -  $height-header);
    background-color:$color-main ;
    table {
        tr {
            &:hover{
                td {
                    background-color: transparent;
                }
            }
        }
    }
}
