@import '~bootstrap/scss/bootstrap';

// Sass variables
$height-nav-bar: 60px;
$width-aside:200px;
$color-aside:pink;
$color-link-aside:white;
$active-route-color:yellow;
$color-main:rgba($color-aside,0.3);


nav {
    height: $height-nav-bar;
}

aside {
    background-color:$color-aside ;
    width : $width-aside;
    height: calc(100vh - $height-nav-bar);
    ul {
        list-style: none;
        .active {
            color: $active-route-color;
        }
        a {
            text-decoration: none;
            font-weight: bolder;
            color: $color-link-aside;
        }
    }
}

main {
    height: calc(100vh -  $height-nav-bar);
    background-color:$color-main ;
}
